# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Virtualenvs
.venv/
venv/
env/

# Editor / OS
.idea/
.vscode/
.DS_Store

# Data caches
**/MNIST/
**/data_file.csv
debugging.ipynb
